@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/circe/circe_bold.woff2') format('woff2'),
  url('../fonts/circe/circe_bold.woff') format('woff'),
  url('../fonts/circe/circe_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: local('Circe Regular'), local('Circe-Regular'),
  url('../fonts/circe/circe.woff2') format('woff2'),
  url('../fonts/circe/circe.woff') format('woff'),
  url('../fonts/circe/circe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}